.resultItem{
    height: 1rem;
    width: 20%;
    margin: 1rem 3rem;
    border: 2px solid white;
    padding: 0.35rem;
}

.resultItem-unanswered{
    background-color: #2D3039;
}

.resultItem-incorrect{
    background-color: red;
    color: white;
}

.resultItem-correct{
    background-color: green;
}